/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif), sans-serif;
  font-weight: var(--weight-main-font);
  font-variation-settings: "wght" 400;
  background-color: var(--background-color);
  color: var(--font-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  border: var(--border-color) solid 2px;
  background-color: var(--background-color);
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin-inline: auto;
  margin-block: 100px;
  align-items: center;
  font-family: var(--accent-font, sans-serif), sans-serif;
  padding: 11px 11px 11px 11px;
}

.text_title_header {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block: 125px 20px;
}

.main {
  display: block;
}

.main_title_header {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
  font-weight: var(--weight-title-font, sans-serif), sans-serif;
  line-height: 23px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  margin-bottom: -5px;
  align-items: start;
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  margin-block-end: 10px;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: color 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: color 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 1px;
  background-color: var(--border-color);
  transition: width 300ms, background-color 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--border-color);
}

.theme-menu__button:disabled::before {
  pointer-events: none;
  content: "▶";
  display: inline-block;
  width: 10px;
  height: 10px;
  animation: arrow 0.5s infinite ease-in-out reverse;
  animation-direction: alternate;
  position: absolute;
  margin-left: -20px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  background-color: var(--background-color);
  margin-bottom: 50px;
  margin-inline: auto;
}

.title_card {
  line-height: 21.78px;
  font-weight: var(--weight-title-font);
  border-bottom: var(--border-color) solid 2px;
  padding-inline-start: 10px;
  padding-block: 5px;
}

.image_span {
  display: flex;
  justify-content: end;
  height: 696px;
  border-bottom: solid 2px var(--border-color);
  overflow: hidden;
  position: relative;
}

.image_card {
  width: 100%;
  margin-block-end: 23px;
  height: 100%;
}

.filter_image_card_sepia {
  filter: sepia(85%);
}

.filter_image_card_saturate {
  filter: saturate(390%);
}

.filter_image_card_sepia_brightness {
  filter: sepia(35%) brightness(70%);
}

.filter_image_card_invert {
  filter: invert(100%);
}

.filter_image_card_sepia_80 {
  filter: sepia(80%);
}

.filter_image_card_blur {
  filter: blur(10px);
}

.filter_image_card_hue-rotate_contrast {
  filter: hue-rotate(0.3turn) contrast(25%);
}

.label_image_card {
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: 1px 0px 0px #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 25px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label_image_card {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.text_card {
  margin: 25px 25px 2px 25px;
  line-height: 21px;
  font-size: 18px;
}

.card_button_group {
  margin: 25px 25px 25px auto;
  display: flex;
}

.card_button_heard {
  border: none;
  height: 38px;
  background-color: transparent;
}

.card_button_heard:focus {
  border: none;
}

.card_button_heard:focus-visible {
  outline: 2px solid var(--border-color);
}

.card_button_like {
  border: none;
  background-color: var(--background-color);
  outline: 2px solid var(--border-color);
  width: 130px;
  height: 38px;
  font-family: var(--accent-font);
  font-size: 14px;
}

.sparks {
  opacity: 0;
}

.footer_button {
  display: flex;
  border: none;
  outline: 2px solid var(--border-color);
  width: 335px;
  height: 51px;
  font-family: var(--accent-font, sans-serif), sans-serif;
  font-size: 14px;
  padding: 21px 18.5px;
  margin-block: 52px 103px;
  margin-inline: auto;
  background-color: var(--background-color);
  gap: 3.5px;
}

.button {
  overflow: hidden;
  position: relative;
}

.button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--border-color);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translate(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover {
  cursor: pointer;
  overflow: hidden;
}

.button:focus {
  border: none;
}

.button:focus-visible {
  box-shadow: 4px 4px 0 var(--border-color);
  transition: box-shadow 0.3s ease;
}

.footer_floppy {
  margin-top: -5px;
  margin-inline: auto;
  color: var(--text-button);
  mix-blend-mode: difference;
}

.footer_floppy_svg {
  max-width: 22px;
  max-height: 22px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--text-button);
  mix-blend-mode: difference;
}

.dialog_save[open] {
  position: fixed;
  inset: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 51px auto;
  grid-template-rows: 1.5fr 1fr;
  width: 353px;
  border: none;
  outline: 2px solid var(--border-color);
  background-color: var(--background-color);
  padding: 0;
}

.dialog_svg {
  width: 39px;
  height: 39px;
  justify-self: start;
  margin-inline-start: 30px;
  margin-block-start: 42px;
  color: var(--border-color);
}

.dialog_button {
  grid-column: span 2;
  width: 293px;
  height: 38px;
  margin: 0 auto 30px 30px;
  border: none;
  background-color: var(--background-color);
  outline: 2px solid var(--border-color);
  color: var(--font-color);
  overflow: hidden;
  position: relative;
}

.dialog_button_text {
  font-family: var(--accent-font, sans-serif), sans-serif;
  color: var(--text-button);
  z-index: 1;
  mix-blend-mode: difference;
  text-transform: uppercase;
}

.dialog_save::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(1px);
}

.text_title_footer {
  font-family: var(--accent-font, sans-serif), sans-serif;
  font-size: 14px;
  color: var(--border-color);
  line-height: 21px;
  text-transform: uppercase;
  justify-self: end;
  margin-block-start: 30px;
  margin-left: 20px;
  margin-inline-end: 50px;
}

.dialog_button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--border-color);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: transform 0.5s ease-in-out;
}

.dialog_button:hover::before {
  transform: translate(0);
  transition: transform 0.5s ease-in-out;
}

.dialog_button:hover {
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 375px) {
  .header {
    width: 100%;
    margin-left: 0;
  }

  .text_title_header {
    font-size: 49px;
    margin-block: 110px 20px;
  }

  .main_title_header {
    font-size: 14px;
    line-height: 14px;
  }

  .main {
    margin-left: 0;
  }

  .card {
    width: 100%;
  }

  .text_card {
    margin: 25px 50px 2px 25px;
  }

  .image_span {
    height: 375px;
  }

  .footer_button {
    width: 306px;
    height: 84px;
    margin-block: 52px 103px;
    margin-left: 34px;
    gap: 8px;
    flex-direction: column;
  }

  .footer_floppy {
    width: 28px;
    height: 28px;
    margin-top: -5px;
    color: var(--text-button);
    mix-blend-mode: difference;
  }

  .footer_floppy_svg {
    max-width: 29px;
    max-height: 29px;
  }

  .text_title_footer {
    justify-self: center;
    margin-block-start: 30px;
    margin-left: 20px;
    margin-inline-end: 50px;
  }

  .dialog_button {
    min-width: 257px;
  }

}
